body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* min 768px */
@media only screen and (min-width: 48em) {
  .intro-section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 1707px;
    background-image: url("/static/img/test.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

/* Page background-image landscape for iPad 3 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .page-bg {
    height: 768px;
    background-image: url("/static/img/test.png");
  }
}
/* Page background-image portrait for iPad 3 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .page-bg {
    height: 1024px;
    background-image: url("/static/img/test.png");
  }
}


.about-section {
    min-height: 100%;
    padding-top: 100px;
    margin-top: 10px;
    background: #fff;
}

.services-section {
    min-height: 100%;
    padding-top: 100px;
    margin-top: 10px;
    background: #fff;
}

.contact-section {
    min-height: 100%;
    padding-top: 100px;
    margin-top: 10px;
    background: #fff;
}