{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webprojekte, Apps, Programmierer für Web Applikationen, Betreuung von Webprojekten,
        Webprogrammierer für Django, Python, jQuery, JavaScript, Wordpress, CSS, SEO und vielen anderen. Django-Spezialist." />
	<meta name="keywords" content="django, webprojekte, webprogrammierer, programmierer, programmierung, django, python,
	    jQuery, javascript, Wordpress, CSS" />
	<meta name="author" content="Johanna Weinsziehr" />
	<meta name="robots" content="index,follow" />
    <title>Johanna</title>

    <!-- Favicon -->
    <link rel="SHORTCUT ICON" href="{% static "img/logo.ico" %}"/>

    <!-- Bootstrap CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet"/>

     <!-- Custom CSS -->
    <link href="{% static "css/styling.css" %}" rel="stylesheet"/>
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet"/>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

     <!-- Bootstrap JS -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Custom JavaScript -->
    <script src="{% static "js/scrolling-nav.js" %}"></script>

    <!-- BigVideo/ Video.JS -->
    <link href="{% static "css/video-js.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bigvideo.css" %}" rel="stylesheet"/>
    <script src="{% static "js/modernizr.custom.js" %}"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% block content %}
{%  endblock content %}

<!-- Video -->
<script>window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js"><\/script>')</script>
<script src="{% static "js/jquery-ui-1.11.3/jquery-ui.js" %}"></script>
<script src="{% static "js/jquery-ui-1.11.3/jquery-ui.min.js" %}"></script>
<script src="{% static "js/video.js" %}"></script>
<script src="{% static "js/bigvideo.js" %}"></script>

<script type="text/javascript">
    $(function() {
            var BV = new $.BigVideo({container: $("#intro")});
			BV.init();
            if (Modernizr.touch) {
                var d = document.getElementById("intro");
                d.className = "intro-section";
            } else {
                BV.show('/static/video/intro.mp4',
                        {altSource:'/static/video/intro.webm', ambient: true});
            }
	    });
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60276056-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>