{% load staticfiles bootstrap %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Johanna</title>

    <!-- Bootstrap CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet"/>

     <!-- Custom CSS -->
    <link href="{% static "css/styling.css" %}" rel="stylesheet"/>
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet"/>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.easing.min.js" %}"></script>

     <!-- Bootstrap JS -->
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/npm.js" %}"></script>

    <!-- Custom JavaScript -->
    <script src="{% static "js/scrolling-nav.js" %}"></script>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Johanna Weinsziehr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

 <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="more">
                    <p>Learn more about me <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row"><h1 align="center">About</h1></div>
                <div class="row">
                     <div class="col-md-6 col-lg-6">
                        <h2 class="custom_h2" align="right">MY WORK</h2>
                         <p class="text" align="right">
                             It has survived not only five centuries, but also the leap into electronic typesetting,
                             remaining essentially unchanged. It was popularised in the 1960s with the release
                             of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                         </p>
                     </div>
                     <div class="col-md-6 col-lg-6">
                        <h2 align="left" class="custom_h2">ME</h2>
                         <p class="text" align="left">
                             It has survived not only five centuries, but also the leap into electronic typesetting,
                             remaining essentially unchanged. It was popularised in the 1960s with the release
                             of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                         </p>
                     </div>
                </div>
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="colored_row">
                    <blockquote>"We're still in the first minutes of the first day of
                        the Internet revolution." Scott Cook</blockquote>
                </div>
            </div>
        </div>
    </section>

<div class="more_info">
    <p>Learn more about what I do <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
</div>
<div class="divider"></div>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <img class="img-responsive" src="{% static "img/mobie.png" %}">
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-8">
                        <h1>Front-End Development, Web & Mobile Design</h1>
                         <p class="text">
                             It has survived not only five centuries, but also the leap into electronic typesetting,
                             remaining essentially unchanged. It was popularised in the 1960s with the release
                             of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                         </p>
                     </div>
            </div>
            <div class="row" style="margin-top: 70px;">
                <div class="col-lg-4 col-md-4 col-sm-4" style="float: right;">
                     <img class="img-responsive" src="{% static "img/monitors.png" %}">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                     <h1 align="right">Back-End Development</h1>
                         <p align="right" class="text">
                             It has survived not only five centuries, but also the leap into electronic typesetting,
                             remaining essentially unchanged. It was popularised in the 1960s with the release
                             of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                         </p>
                </div>

            </div>
        </div>
    </section>

<div class="more_info">
    <p>Learn more about what I did<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
</div>
<div class="divider"></div>

    <!-- Project Section -->
    <section id="projects" class="contact-section">
        <div class="container">
            <div class="row"><h1 align="center">Past Projects</h1></div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blue"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 light_green"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blue"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 light_green"></div>
            </div>
        </div>
    </section>

<div class="more_info">
    <p>You like what you saw? Get in touch!<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
</div>
<div class="divider"></div>

<!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                     <div class="col-lg-4 col-xs-12">
                        <img class="img-responsive" src="{% static "img/post.png" %}">
                     </div>
                     <div class="col-lg-8 col-xs-12 col-md-8">
                        <h1>Let's get together</h1>
                        <form action="." method="post">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <input class="btn btn-default" type="submit" value="Submit" style="margin-bottom: 10px;">
                        </form>
                     </div>
                </div>
        </div>
    </section>
<footer>
<div class="container">
    <div class="row" id="social-row">
            <a href="http://www.facebook.com" target="_blank"><img class="facebook" src="{% static "img/facebook.png" %}"></a>
            <a href="http://www.twitter.com" target="_blank"><img class="twitter" src="{% static "img/twitter.png" %}"></a>
    </div>
    <div class="row">
        <ul class="nav navbar-nav nav-footer">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="{%  url 'impressum' %}">Impressum</a>
                    </li>
        </ul>
    </div>
</div>
</footer>

</body>
</html>