{% extends 'base_template.html' %}
{% load bootstrap %}
{%  block content %}

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Johanna Weinsziehr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

 <!-- Intro Section -->
    <div id="intro" class="intro-section">
    </div>

    <div id="page-content">
    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row"><h1 align="center">About</h1></div>
                <div class="row">
                     <div class="col-md-6 col-lg-6">
                        <h2 class="custom_h2" align="right">MY WORK</h2>
                         <p class="text" align="right">
                             I had the luck to be taught by/ and to work with very knowledgeable and intelligent
                             people. I was always seeking for the best in the industry to learn from.
                             That persuasion got me deeply involved into the German Python Community and brought me
                             to San Francisco. Ever since I have started to program I have been working with Python and Django.
                         </p>
                     </div>
                     <div class="col-md-6 col-lg-6">
                        <h2 align="left" class="custom_h2">ME</h2>
                         <p class="text" align="left">
                             I am a curious knowledge seeking and entrepreneurial woman –
                             adventurous, live and tech lovin', active and ambitious. When I am not behind my
                             Laptop working or checking out the latest technologies I like to fly my drone or to meet with
                             real people (I actually really enjoy that ;-) ). I love what I am doing and am grateful
                             for having such a fulfilled live. One of my personal projects is to help females getting involved in tech.
                             It seems that especially females tend to be very sceptical about their tech skills and abilities
                             (so was I for a long time). This is why I have founded the PyLadies Berlin. It is a very successful program and I love to see the women getting
                             more confident and conscious about their skills. Also it got me more involved into the tech community,
                             PyLadies Berlin is very proud that we were partner of the EuroPython 2014 and will be a partner of the
                             PolyConf 2015 in Poznan.

                         </p>
                     </div>
                </div>
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="colored_row">
                    <blockquote>"We're still in the first minutes of the first day of
                        the Internet revolution." Scott Cook</blockquote>
                </div>
            </div>
        </div>
    </section>

<div class="more_info">
    <p>Learn more about what I do <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
</div>
<div class="divider"></div>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <img class="img-responsive" src="/static/img/mobie.png">
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-8">
                        <h1>Front-End Development, Web & Mobile Design</h1>
                         <p class="text">
                             Front End (Javascript) Frameworks  I use are jQuery and Angular.JS. They are both very
                             powerful frameworks to design beautiful, intuitive user experiences and interfaces. CSS
                             Frameworks like Bootstrap
                             lets you build beautiful looking and responsive websites. Every project I do runs on any
                             kind of device and is tailored to your users expectations and needs.
                         </p>
                     </div>
            </div>
            <div class="row" style="margin-top: 70px;">
                <div class="col-lg-4 col-md-4 col-sm-4" style="float: right;">
                     <img class="img-responsive" src="/static/img/monitors.png">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                     <h1 align="right">Back-End Development</h1>
                         <p align="right" class="text">
                             I love Python because of its well structured and readable code. It is a language used in
                             various segments (e.g. Games, Science and Education), it is a powerful, fast and efficient programming language. Companies and
                             Organizations like Soundcloud, Red Hat, Yahoo, Google and IBM are using Python. Django is a Web Application Framework
                             written in Python. It follows the model-view-controller (MVC) pattern and makes you build clean, well structured Web Applications. Web
                             Applications built in Django are scalable, can be of high complexity and are even for non
                             techies easy to maintain and to work with.
                         </p>
                </div>

            </div>
        </div>
    </section>

<div class="more_info">
    <p>Learn more about what I did <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
</div>
<div class="divider"></div>

    <!-- Project Section -->
    <section id="projects" class="contact-section">
        <div class="container">
            <div class="row"><h1 align="center">Past Projects</h1></div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blue"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 light_green"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 blue"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 light_green"></div>
            </div>
        </div>
    </section>

<div class="more_info" style="margin-top: 320px;">
    <p>You like what you saw? Get in touch! <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></p>
</div>
<div class="divider"></div>

<!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                     <div class="col-lg-4 col-xs-12">
                        <img class="img-responsive" src="/static/img/post.png">
                     </div>
                     <div class="col-lg-8 col-xs-12 col-md-8">
                        <h1>Let's get together</h1>
                        <form action="." method="post">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <input class="btn btn-default" type="submit" value="Submit" style="margin-bottom: 10px;">
                        </form>
                     </div>
                </div>
        </div>
    </section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row" id="social-row">
                <a href="http://www.facebook.com" target="_blank"><img class="facebook" src="/static/img/facebook.png"></a>
                <a href="http://www.twitter.com" target="_blank"><img class="twitter" src="/static/img/twitter.png"></a>
        </div>
        <div class="row">
            <ul class="nav navbar-nav nav-footer">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#projects">Projects</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                        <li>
                            <a href="{%  url 'impressum' %}">Impressum</a>
                        </li>
            </ul>
        </div>
        <div class="footer-signature">
            <p>© Johanna Weinsziehr</p>
        </div>
    </div>
</footer>
</div>
{% endblock content %}